{% extends 'base.html' %}
{% block menu %}
	<div class="w3-bar w3-blue">
		<a href="/" class="w3-button w3-right">REGISTER</a>
		<a href="/viewattendance" class="w3-button w3-right">VIEW ATTENDANCE</a>
		<a href="/checkattendance" class="w3-button w3-right">CHECK ATTENDANCE</a>
	</div>
{% endblock %}
{% block content %}
	<div class="w3-twothird">
		<table class="w3-table-all">
			<tr>
				<th>IDNO</th>
				<th>NAME</th>
				<th>COURSE</th>
				<th>LOGIN TIME</th>
			</tr>
			{% for student in students %}
			<tr>
				<td>{{ student[1] }}</td>
				<td>{{ student[2] }},{{ student[3] }}</td>
				<td>{{ student[4] }}-{{ student[5] }}</td>
				<td>
					<button class="w3-button w3-green" onclick="edit('{{ student['idno'] }}','{{ student['lastname'] }}','{{ student['firstname'] }}','{{ student['course'] }}','{{ student['level'] }}','{{ student['image'] }}','{{ student['qrcode'] }}')">EDIT</button>
					<a href="/deletestudent?idno={{ student[1] }}" class="w3-button w3-red">DELETE</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}