{% extends 'base.html' %}
{% block menu %}
<div class="w3-bar w3-blue">
    <a href="/" class="w3-button w3-right">REGISTER</a>
    <a href="/viewattendance" class="w3-button w3-right">VIEW ATTENDANCE</a>
    <a href="/checkattendance" class="w3-button w3-right">CHECK ATTENDANCE</a>
</div>
{% endblock %}
{% block content %}
<div class="w3-container">
    <h2>Attendance Records</h2>
    {% if attendances %}
    <table class="w3-table w3-bordered w3-striped">
        <thead>
            <tr>
                <th>ID Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Log Time</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <td>{{ attendance['idno'] }}</td>
                <td>{{ attendance['firstname'] }}</td>
                <td>{{ attendance['lastname'] }}</td>
                <td>{{ attendance['logtime'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No attendance records found.</p>
    {% endif %}
</div>
{% endblock %}
